<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success ja Warning</title>
</head>
<body>

  <h1 style="text-align: center;">Success ja Warning Ilmoitukset</h1>
  <div class="container">
    <div class="row">
      <div class="col">
        <h5>Success-ilmoitus</h5>
        <app-success></app-success>
      </div>
      <div class="col">
        <h5>Warning-ilmoitus</h5>
        <app-warning></app-warning>
      </div>
    </div>
  </div>

</body>
</html>
<router-outlet></router-outlet>
